* {
    color: var(--main-theme-color);
}

#youScored {
    margin-bottom: 0;
}

#studyWordsSection {
    margin-bottom: .9rem;
}

#studyWords {
    height: 14rem;
    width: 100%;
    overflow-y: auto;
    border: .3rem solid var(--main-theme-color);
    border-radius: 7.5rem;
    padding: 1.5rem;
    padding-left: 5.5rem;
    background-color: white;
}

#studyWords::-webkit-scrollbar {
    display: none;
}

#studyWords p {
    margin: .2rem .5rem .2rem 0;
}

.hidden {
    display: none;
}