/* colors: 
1A1E26 - dark blue
254C4B - light blue
788D7C - light bluegray
ABC59D - light greengray
C0BD9E - light beige
*/

/* 
current theme colors
003249 - dark blue
007ea7 - medium blue
80ced7 - light blue
9ad1d4 - pale blue
ccdbdc - light gray
*/

@import url('https://fonts.googleapis.com/css2?family=Fjord+One&display=swap');


:root {
    font-size: 10px;
    /* --bg-color: #ABC59D;
    --text-color: #333;
    --main-theme-color: #254C4B;
    --button-border-color: #788D7C; */

    --bg-color: #9ad1d4;
    --text-color: #333;
    --main-theme-color: #003249;
    --button-border-color: #007ea7;


    background-color: var(--bg-color);
}

* {
    box-sizing: border-box;
    font-family: 'Fjord One', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

h1 {
    font-size: 5.4rem;
    margin-bottom: 1rem;
    color: var(--main-theme-color);
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    text-align: center;
    color: var(--main-theme-color);
}

h3 {
    font-size: 3.6rem;
}

p {
    font-size: 2rem;
}

/* UTILITIES */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BUTTON */

.btn {
    font-size: 2rem;
    width: 20rem;
    text-align: center;
    padding: .5rem 3rem;
    margin-bottom: 1rem;
    border: 2px solid var(--button-border-color);
    text-decoration: none;
    background-color: white;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(37, 76, 75, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}